.about-project{
  margin: 0 auto;
  padding: 90px 0 110px;
  max-width: 1140px;
}

@media screen and (max-width: 768px) {
  .about-project {
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 425px) {
  .about-project {
    padding: 70px 0;
  }
}


.about-project__intro {
  color: white;
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #DADADA;
}

@media screen and (max-width: 768px) {
  .about-project__intro {
    font-size: 20px;
  }
}

@media screen and (max-width: 425px) {
  .about-project__intro {
    font-size: 18px;
    padding-bottom: 28px;
  }
}

.about-project__description {
  padding: 70px 0 110px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

@media screen and (max-width: 768px) {
  .about-project__description {
    padding-bottom: 93px;
    gap: 30px;
  }
}

@media screen and (max-width: 425px) {
  .about-project__description {
    padding: 60px 0;
    flex-direction: column;
    gap: 56px;
  }
}

.about-project__subtitle {
  margin: 0;
  color: white;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 26px;
}

@media screen and (max-width: 768px) {
  .about-project__subtitle {
    padding-bottom: 22px;
  }
}

@media screen and (max-width: 425px) {
  .about-project__subtitle {
    padding-bottom: 16px;
    font-size: 18px;
  }
}

.about-project__details {
  margin: 0;
  color: white;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .about-project__details {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 425px) {
  .about-project__details {
    font-size: 11px;
    line-height: 16px;
  }
}



.about-project__timeframe {
  display: grid;
  grid-template-columns: minmax(min-content, 25%) 1fr;
  grid-template-rows : auto;
  justify-items: stretch;
  text-align: center;
}

.about-project__sprint {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 9px 0;
}

@media screen and (max-width: 425px) {
  .about-project__sprint {
    font-size: 11px;
  }
}


.about-project__sprint_1 {
  background-color: #3DDC84;
  color: black;
}

.about-project__sprint_2 {
  background-color: #303030;
  color: white;
}

.about-project__caption {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #A0A0A0;
  margin: 0;
  padding: 14px 9px 0;
}

@media screen and (max-width: 425px) {
  .about-project__caption {
    font-size: 11px;
    padding-top: 10px;
  }
}