.about {
  margin: 0 auto;
  padding: 110px 0 125px;
  max-width: 1140px;
}

@media screen and (max-width: 768px) {
  .about {
    padding: 90px 0;
  }
}

@media screen and (max-width: 425px) {
  .about {
    padding: 70px 0;
    width:  calc(100% + 8px);
    margin-left: -4px;
  }
}

.about__intro {
  color: white;
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #DADADA;
}

@media screen and (max-width: 425px) {
  .about__intro {
    padding-bottom: 28px;
    font-size: 18px;
  }
}

.about__info {
  padding: 66px 0 100px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

@media screen and (max-width: 425px) {
  .about__info {
    padding: 60px 0 70px;
    flex-direction: column-reverse;

  }
}


.about__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about__avatar {
  height: 327px;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .about__avatar {
    height: 307px;
  }
}

@media screen and (max-width: 425px) {
  .about__avatar {
    padding-bottom: 40px;
    width:  100%;
    height: auto;
  }
}

@media screen and (max-width: 320px) {
  .about__avatar {
    width: 100%;
    height: auto;
  }
}


.about__name {
  padding-bottom: 18px;
  margin: 0;
  color: white;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
}

@media screen and (max-width: 768px) {
  .about__name {
    font-size: 40px;
  }
}

@media screen and (max-width: 425px) {
  .about__name {
    font-size: 30px;
    padding-bottom: 20px;
  }
}

.about__summary {
  margin: 0;
  padding-bottom: 26px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

@media screen and (max-width: 768px) {
  .about__summary {
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 425px) {
  .about__summary {
    font-size: 11px;
    line-height: 16px;
  }
}

.about__description {
  flex-grow: 10;
  margin: 0;
  padding-bottom: 18px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  max-width: 600px;
}

@media screen and (max-width: 768px) {
  .about__description {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 768px) {
  .about__description {
    font-size: 11px;
    line-height: 16px;
    padding-bottom: 40px;
  }
}

.about__github-link {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  transition: opacity .3s ease-out;
}

.about__github-link:hover {
  opacity: .7;
}

.about__portfolio {
  font-size: 18px;
  font-weight: 400;
  color: #8B8B8B;
  padding-bottom: 50px;
  margin: 0;
}

@media screen and (max-width: 425px) {
  .about__portfolio {
    font-size: 14px;
    padding-bottom: 40px;
  }
}

.about__portfolio-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.about__portfolio-item {
  border-bottom: 1px solid #424242;
  padding: 20px 0;
}

.about__portfolio-item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.about__portfolio-link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: opacity .3s ease-out;
}

.about__portfolio-link:hover {
  opacity: .7;
}

.about__portfolio-name {
  color: white;
  font-weight: 400;
  font-size: 30px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .about__portfolio-name {
    font-size: 28px;
  }
}

@media screen and (max-width: 425px) {
  .about__portfolio-name {
    font-size: 18px;
  }
}

@media screen and (max-width: 320px) {
  .about__portfolio-name {
    font-size: 17px;
  }
}

.about__portfolio-link-icon {
  width: 29px;
}

@media screen and (max-width: 768px) {
  .about__portfolio-link-icon {
    width: 27px;
  }
}

@media screen and (max-width: 425px) {
  .about__portfolio-link-icon {
    width: 18px;
  }
}

@media screen and (max-width: 320px) {
  .about__portfolio-link-icon{
    width: 16px;
  }
}