.body {
  padding: 0 10px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #202020;
  font-family: 'Inter', Arial, sans-serif;
  color: white;
}

@media screen and (min-width: 375px) {
  .body {
    padding: 0 18px;
  }
}

@media screen and (min-width: 426px) {
  .body {
    padding: 0 30px;
  }
}

@media screen and (min-width: 769px) {
  .body {
    padding: 0 70px;
  }
}
