.body {
  padding: 0 70px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #202020;
  font-family: 'Inter', Arial, sans-serif;
  color: white;
}

@media screen and (max-width: 768px) {
  .body {
    padding: 0 50px;
  }
}

@media screen and (max-width: 320px) {
  .body {
    padding: 0 18px;
  }
}
