.checkbox {
  width: 36px;
  height: 20px;
  padding: 6px;
  background-color: #EBEBEB;
  border-radius: 20px;
  box-sizing: border-box;
  transition: background-color 0.3s;
}

.checkbox_checked {
  background-color: #3DDC84;}

.checkbox__slider {
  background-color: #F5F5F5;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin: 0;
  transition: margin-left 0.3s;
}

.checkbox__slider_checked {
  margin-left: 16px;
}

